.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  font-family: "Inter", sans-serif;
  border: 1px solid #ced4da;
  border-radius: 0.4rem;
  padding: 3rem 4rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 0.6rem;
}

.formGroup input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.4rem;
  width: 300px;
  height: 40px;
  margin-bottom: 1rem;
}

.formGroup input:focus {
  outline: none;
  border-color: #007bff;
}

.button {
  background-color: #000;
  color: #fff;
  padding: 1rem 2.5rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin-top: 3rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-transform: uppercase;
}

.button:hover {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

.message {
  color: #3cbd58;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
