.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #f9f9f9;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.title {
  font-size: 3rem;
  color: #ff5722;
  margin-bottom: 0.5rem;
  text-align: center;
}

.subtitle {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 2rem;
  text-align: center;
}

.leftRight {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.imageContainer {
  flex: 1;
  max-width: 400px;
}

.image {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.textContainer {
  flex: 1;
  max-width: 600px;
  text-align: left;
}

.textContainer p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

.info {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1.5rem;
  font-size: 0.9rem; /* Smaller font size */
  line-height: 1.4; /* Smaller line height */
  color: #555;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.info p {
  margin: 0.5rem 0; /* Reduce spacing between paragraphs */
}

.info strong {
  color: #333; /* Slightly darker color for emphasis */
}

.button {
  background-color: #ff5722;
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #e64a19;
  transform: scale(1.05);
}

.button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.button a:hover {
  text-decoration: underline;
}

.bioSection {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bioColumns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.bioTitle {
  font-size: 1.8rem;
  color: #ff5722;
  margin-bottom: 1rem;
  text-align: center;
}

.bioSection p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #555;
}

.bioSection a {
  color: #ff5722;
  text-decoration: none;
}

.bioSection a:hover {
  text-decoration: underline;
}

.spacer {
  height: 2rem;
}

@media screen and (max-width: 768px) {
  .leftRight {
    flex-direction: column;
    align-items: center;
  }

  .imageContainer,
  .textContainer {
    max-width: 100%;
  }

  .bioColumns {
    flex-direction: column;
  }
  
}